doctype html
html
  head
    style
      include main.css
  block content
    .content
      .postcard
        img(src='/postcard.jpg')
        .text-body
          p= text
        img.image(src=image)
