doctype html
html
  head
    style
      include main.css
  block content
    .content
      .postcard
        .text-body
          p= text
        .address-part
          .stamp
            img(src='test.png')
          .address-lines
            hr
            hr
            hr
            hr

      .image
        img.image(src=img)
